#outer{
  height:1200px;
  width:80%;
 margin:0px auto;

}
body{
background-color:green;
}
#menue{
 height:50px;
 width:100%;
 background-color:white;
 border-radius:20px 20px 0px 0px;
}
#slider{
 height:250px;
 width:100%;
 background-color:white;
 background-image:url('../images/sofa.jpeg');	
margin-top:5px;
}
#parent{
  height:600px;
  width:100%;
 margin-top:5px;

}
#left{
  height:600px;
 width:70%;
background-color:white;
float:left;
border-radius:0px 0px 0px 20px;
}
#right{
 height:600px;
width:30%;
background-color:lightgrey;
float:right;
border-radius:0px 0px 20px 0px;
}
#footer{
  height:270px;
  width:100%;
 background-color:white;
 margin-top:20px;
border-radius:20px;
border:1px solid white;
}
.b{
  height:240;
  width:30%;
 margin-left:28px;
 margin-top:15px;
float:left;
color:grey;
}
#menue ul{
   list-style-type:none;
}
#menue ul li{
    display:inline-block;
    width:150px;
    text-align:center;
    border-right:1px solid lightgrey;
    padding-left:10px;
    margin-top:15px;
 }
#menue ul li a{
     text-decoration:none;
     color:grey;
    font-family:calibri;
}
#menue ul li a:hover{
      color:green;
}
.b{
 font-size:14px;
}
.b h1{
  text-align:center;
  color:black;
font-family:calibri;
}
.sb{
   height:60px;
  width:20%;
  border:3px solid lightgrey;
 margin-left:28px;
 margin-bottom:10px;
 float:left;
font-family:calibri;

}
.b a{
  color:green;
}
.r1{
  margin:20px;
  font-size:15px;
  color:grey;
 font-family:calibri;
}
.r1 h1{
  color:black;
}
.l1{
  margin:30px;
  color:grey;
 font-family:calibri;
 font-size:12px;
}
.l1 a{
   color:green;
}
.l1 h1{
   color:black;
 font-size:30px;
}
.ld1{
  height:550px;
 width:55%;
//background-color:black;
margin-left:50px;
margin-top:50px;
float:left;
}
.ld2{
  height:550px;
 width:38%;
//background-color:black;
//margin:20px;
float:right;
margin-top:20px;
//margin-right:3px;
background-image:url('../images/work.jpeg');
image-size:cover;
}
.ld1 form{
  margin:35px auto;
 font-family:calibri;
background-color:lightgreen;
margin-left:18px;
text-align:center

}
td{
color:black;
 font-size:20px;
 text-align:justify;
margin-top:10px;
font-family:calibri;

}
.ld1 form a{
  color:green
}
.cd1{
  height:600px;
 width:50%;
//background-color:black;
margin-left:60px;
margin-top:50px;
float:left;
margin-right:30px;
}
.cd1 form{
  text-align:center;
  font-size:25px;
  //box-size:50px;
 color:grey;
font-family:calibri;
margin-left:30px;

background-color:lightgreen;
}
.cd1 form h3{
  color:black
}