#clock
{
  background-image:url('../images/clock.png');
  height:500px;
  width:500px;
  background-size:cover;
  position:relative;
}
#hour
    {
    transform-origin:bottom;
    height:100px;
    width:5px;
    background-color:rgb(24, 24, 24);
    position:absolute;
    top:150px;
    left:248;
}
#min{
transform-origin:bottom;
 height:150px;
 width:6px;
 background-color:black;
 top:102px;
 left:248px;
 position:absolute;

}
#sec{
 transform-origin:bottom;
 height:160px;
 width:3px;
 background-color:rgb(18, 16, 16);
 top:100px;
 left:245px;
 position:absolute;
}